@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=BhuTuka+Expanded+One&family=Cormorant+SC:wght@400;500&family=Fredoka+One&family=Heebo:wght@200&family=Merriweather:ital,wght@1,300&family=Montserrat:ital,wght@1,500&family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-kleptomaniac-grass: #70e000;
  --color-neon-green: #60C020;
  --color-dark-green: #008000;

  
  font-family: 'Alumni Sans Inline One', cursive; /* buttons */
  font-family: 'BhuTuka Expanded One', cursive; /* description */
  font-family: 'Cormorant SC', serif;
  font-family: 'Fredoka One', cursive; /* card titles */
  font-family: 'Heebo', sans-serif;  /* used */
  font-family: 'Merriweather', serif; /* description */
  font-family: 'Montserrat', sans-serif;
  font-family: 'Press Start 2P', cursive; /* Landing */
}