html body {
    background: url(https://wallpaperaccess.com/full/4848691.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
  }

  .top{
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 30px;
  }

  .btnCreate{
    background-color: transparent;
    color: var(--color-neon-green);
    border-color: transparent;
    font-size: 3em;
    transition: all .25s;  
    cursor: pointer;  
    border-radius: 20px;
    margin-top: -10px;
    margin-right: 200px;
    font-family: 'Alumni Sans Inline One', cursive;
  }

  .btnCreate:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--color-dark-green);
  }

  .btnReload{
    height: 45px;
    width: 280px;
    background-color: transparent;
    color: var(--color-neon-green);
    border-color: var(--color-neon-green);
    font-size: 2em;
    transition: all .25s;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Alumni Sans Inline One', cursive;
  }

  .btnReload:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--color-dark-green);
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link:link{
    color: var(--color-neon-green)
  }

  .link:visited{
    color: var(--color-neon-green)
  }

  .link:hover{
    color: var(--color-kleptomaniac-grass)
  }

  .filters{
    background-color:  rgb(112, 205, 111);
    height: 25px;
    border-radius: 10px;
    border-color: var(--color-kleptomaniac-grass);
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }

  .gridcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(3 , 500px);

  }