.searchBar{
    height: 30px;
    width: 500px;
    background-color: rgb(112, 205, 111);    
    color: black;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.searchBtn{
    height: 35px;
    width: 75px;
    background-color: transparent;
    color: var(--color-neon-green);
    border-color: var(--color-neon-green);
    border-radius: 10px;
    transition: all , 0.25s;
}

.searchBtn:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--color-dark-green)
}